.btn-round{
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.btn-round.btn-lg{
	width: 48px;
	height: 48px;
	font-size: 15px;
	text-align: center;
	padding: 5px 10px;
}

.btn-round.btn-sm{
	width: 34px;
	width: 34px;
}

.btn-round.btn-xs{
	width: 24px;
	height: 24px;
}

#nemo{
	border: solid;
	border-color: gray;
	border-width: 5px;
}
